body {
  padding-top: 80px; }

#input-main {
  width: 100%;
  padding: .5rem; }

.macro-main__item,
.macro-sub__item {
  list-style: none;
  margin: 5px;
  padding: 0; }

.side-search form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-search input {
  display: flex;
  flex-grow: 1;
}

.side-search input:hover {
  background-color: #fff;
}

.macro-main label {
  font-weight: 700;
  color: #303030; }

.macro-sub--financas,
.macro-sub--varejo,
.macro-sub--negocio,
.macro-sub--direito,
.macro-sub--controladoria,
.macro-sub--ti,
.macro-sub--marketing,
.macro-sub--engenharia,
.macro-sub--concursos,
.macro-sub--arquitetura,
.macro-sub--saude,
.macro-sub--historia,
.macro-sub--ensino,
.macro-sub--video,
.macro-sub--gastronomia,
.macro-sub--hobbies {
  margin: 0px;
  margin-left: 16px;
  display: none;
  -webkit-transition: all 200ms;
  transition: all 200ms; }

.macro-main__checkbox--financas:checked ~ .macro-sub--financas {
  display: block; }

.macro-main__checkbox--varejo:checked ~ .macro-sub--varejo {
  display: block; }

.macro-main__checkbox--negocio:checked ~ .macro-sub--negocio {
  display: block; }

.macro-main__checkbox--direito:checked ~ .macro-sub--direito {
  display: block; }

.macro-main__checkbox--controladoria:checked ~ .macro-sub--controladoria {
  display: block; }

.macro-main__checkbox--ti:checked ~ .macro-sub--ti {
  display: block; }

.macro-main__checkbox--marketing:checked ~ .macro-sub--marketing {
  display: block; }

.macro-main__checkbox--engenharia:checked ~ .macro-sub--engenharia {
  display: block; }

.macro-main__checkbox--concursos:checked ~ .macro-sub--concursos {
  display: block; }

.macro-main__checkbox--arquitetura:checked ~ .macro-sub--arquitetura {
  display: block; }

.macro-main__checkbox--saude:checked ~ .macro-sub--saude {
  display: block; }

.macro-main__checkbox--historia:checked ~ .macro-sub--historia {
  display: block; }

.macro-main__checkbox--ensino:checked ~ .macro-sub--ensino {
  display: block; }

.macro-main__checkbox--video:checked ~ .macro-sub--video {
  display: block; }

.macro-main__checkbox--gastronomia:checked ~ .macro-sub--gastronomia {
  display: block; }

.macro-main__checkbox--hobbies:checked ~ .macro-sub--hobbies {
  display: block; }

.course-gallery {
  padding: 15px; }
  .course-gallery .container .columns .course-item:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
  .course-gallery .container .columns .course-item {
    padding: 15px;
    cursor: crosshair;
    -webkit-transition: 200ms;
    transition: 200ms; }
    .course-gallery .container .columns .course-item .columns .course-image {
      height: 150px;
      padding: 5px;
      background-image: url(http://via.placeholder.com/255x250);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
    .course-gallery .container .columns .course-item .columns .course-content {
      height: 150px;
      position: relative; }
      .course-gallery .container .columns .course-item .columns .course-content p {
        margin: 0;
        padding: 0; }
      .course-gallery .container .columns .course-item .columns .course-content .course-price {
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        background-color: #5AA535;
        padding: 10px; }
        .course-gallery .container .columns .course-item .columns .course-content .course-price p {
          color: #fff;
          margin: 0;
          padding: 0; }



@media (min-width: 1280px) {
  .course-item .columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }
