p {
  margin: 0;
  color: #303030;
}

.course-row {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  margin-top: 100px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
  padding: 15px;
}



.course-row img {
  display: block;
  width: 120px;
  
}

.course-row .course-description {
  padding: 15px;
  font-size: 16px;
  flex-grow: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.course-row .remove-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100%;
}
.course-row .remove-icon img {
  width: 20px;
}

.total-checkout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.checkout-button {
  margin-top: 15px;
}

#checkout {
  margin-top: 40px;
} 

.no-items {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (max-width: 420px) {
  .course-row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
    padding: 15px;
    margin: 100px 15px 30px 15px;
    width: 90%;
  }
  .course-row .course-image {
    width: 100%;
  }

  .course-row img {
    display: block;
    width: 100%;
    object-fit: cover;
  }


  
  .course-row .course-description {
    padding: 15px;
    font-size: 16px;
    flex-grow: 1;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .course-row .remove-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100%;
  }
  .course-row .remove-icon img {
    width: 20px;
  }
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
}