.paymentForm {
  margin-top: 100px;
}

.formInput {
  margin: 10px 0px;
}

.card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

input[name="number"] {
  width: 60%;
  float: left;
  padding: 10px;
}
#yearExpiry {

  width: 20%;
  float: left;
  padding: px;
}
#monthexpiry {
  margin: 5px;
  width: 17%;
  float: right;
  padding: 10px;
}

input[name="cvv"] {
  width: 30%;
  padding: 10px;
  float: right;
}

input[name="cardName"] {
  margin: 10px;
  width: 60%;
  padding: 10px;
  float: left;
}
input[name="cpf"] {
  width: 32%;
  padding: 10px;
  float: right;
}
#parcel{
  margin: 10px;
  width: 49%;
  padding: 10px;
  float: left;
}

.paymentButton {
  float: right;
  margin: 10px 0px;
}

.jp-card-container {
  margin-bottom: 15px;
}

.button-tabula-gray:visited {
  color: white;
  text-decoration: none;
}

.button-tabula-gray:hover {
  color: #303030;
  text-decoration: none;
}