    @mixin aspect-ratio($width, $height) {
        position: relative;
        &:before {
            display: block;
            content: "";
            width: 100%;
            padding-top: ($height / $width) * 100%;
        }
        > .content {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
.bx-wrapper {
    box-shadow: none;
}

    .t1 {
        border: 1px solid black;
        height: 50px;
        background: aqua;
    }
    
    .column {
        padding: .4rem
    }
    
    .button-tabula {
        background-color: #303030;
        color: #fff;
        border: 1px solid #303030;
    }
    
    .button-tabula:hover {
        background-color: #fff;
        color: #303030;
    }
    
    body {
        font-family: "Poppins", sans-serif;
    }
    
    .offscreen-menu {
        position: absolute;
        top: 50px;
        top: -100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #303030;
        padding: 15px;
        text-align: center;
        box-sizing: border-box;
        input {
            width: 80%;
            margin: 0 auto;
            text-align: center;
        }
        label {
            color: #ececec;
        }
        .divider {
            margin: 20px 0;
        }
        ul {
            margin: 0;
            padding: 0;
            li {
                list-style: none;
                a {
                    color: #fff;
                }
            }
            li:last-child {
                text-align: center;
                button {
                    text-align: right;
                    background-color: #fff;
                    border: none;
                    color: #303030;
                    padding: 10px;
                    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
                    font-weight: 600;
                }
                button:hover {
                    box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.3);
                }
            }
        }
    }
    
    .offscreen-menu-active {
        position: fixed;
        top: 50px;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #303030;
        padding: 15px;
        text-align: center;z-index: 900;
    }
    
    //////////////////////////////////////////////////////////////////////////////////// NAVIGATION BAR
    .navigation-bar {
        width: 100%;
        background: #fff;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
        position: fixed;
        z-index: 1000;
        top: 0;
        a {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        .nav-brand,
        .nav-search,
        .nav-menu {
            height: 50px;
            padding: .4rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        .nav-search {
            justify-content: center;
            input {
                width: 90%;
                font-size: 14px;
            }
            .button-tabula {
                font-size: 14px;
            }
        }
        .nav-menu {
            justify-content: flex-end;
            .menu-icon {
                height: 35px;
                width: 35px;
                .icon-open {
                    width: 100%;
                    height: 100%;
                    background-image: url(../images/menu-open.svg);
                }
                .icon-closed {
                    width: 100%;
                    height: 100%;
                    background-image: url(../images/menu-close.svg);
                    display: none;
                }
            }
            ul {
                padding: 0;
                margin: 0;
                li {
                    margin: 0;
                    padding: 0;
                    display: inline-block;
                    padding: 0px;
                    a {
                        color: #303030;
                    }
                }
            }
        }
        .avatar {
            margin-left: 10px;
        }
    }
    
    //////////////////////////////////////////////////////////////////////////////////// HERO LANDING
    .hero-landing {
        padding: 15px;
        margin-top: 65px;
        .columns {
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
            padding: 15px;
        }
        h2 {
            color: #303030;
            text-align: left;
        }
        #explore {
            padding: 6px;
        }
    }
    
    //////////////////////////////////////////////////////////////////////////////////// MACROTEMAS
    .macrotemas {
        padding: 15px;
        margin-top: 15px;
        .columns {
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
        }
        .macro-mobile-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            padding: 15px;
            .macrotema-col-1,
            .macrotema-col-2,
            .macrotema-col-3 {
                width: 110px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                .macro-indv,
                a {
                    width: 100%;
                    height: 110px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    p {
                        font-size: 10px;
                        color: #303030;
                        text-align: center;
                        padding: 10px;
                        margin: 0;
                        font-weight: 600;
                    }
                    img {
                        width: 35px;
                        display: none;
                    }
                }
                #macro-mob1 {
                    background-image: url(../images/Macrotemas/vertical/v-finan%C3%A7as.svg);
                }
                #macro-mob2 {
                    background-image: url(../images/Macrotemas/vertical/v-controladoria.svg);
                }
                #macro-mob3 {
                    background-image: url(../images/Macrotemas/vertical/v-ti.svg);
                }
                #macro-mob4 {
                    background-image: url(../images/Macrotemas/vertical/v-saude.svg);
                }
                #macro-mob5 {
                    background-image: url(../images/Macrotemas/vertical/v-historia.svg);
                }
                #macro-mob6 {
                    background-image: url(../images/Macrotemas/vertical/v-varejo.svg);
                }
                #macro-mob7 {
                    background-image: url(../images/Macrotemas/vertical/v-direito.svg);
                }
                #macro-mob8 {
                    background-image: url(../images/Macrotemas/vertical/v-marketing.svg);
                }
                #macro-mob9 {
                    background-image: url(../images/Macrotemas/vertical/v-arquitetura.svg);
                }
                #macro-mob10 {
                    background-image: url(../images/Macrotemas/vertical/v-ensino.svg);
                }
                #macro-mob11 {
                    background-image: url(../images/Macrotemas/vertical/v-hobbies.svg);
                }
                #macro-mob12 {
                    background-image: url(../images/Macrotemas/vertical/v-negocio.svg);
                }
                #macro-mob13 {
                    background-image: url(../images/Macrotemas/vertical/v-engenharia.svg);
                }
                #macro-mob14 {
                    background-image: url(../images/Macrotemas/vertical/v-concursos.svg);
                }
                #macro-mob15 {
                    background-image: url(../images/Macrotemas/vertical/v-video.svg);
                }
                #macro-mob16 {
                    background-image: url(../images/Macrotemas/vertical/v-gastro.svg);
                }
            }
        }
        .macro-pc-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 15px;
            .macro-row-1,
            .macro-row-2,
            .macro-row-3 {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                .macro-indv-pc,
                a {
                    width: 100px;
                    height: 112px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 5px;
                    text-decoration: none;
                    p {
                        font-size: 12px;
                        color: #303030;
                        text-align: center;
                        padding: 0 10px;
                        margin: 0 40px;
                        font-weight: 600;
                    }
                    img {
                        display: none;
                        width: 40px;
                    }
                }
            }
            .macro-row-2 {
                margin: -10px 0;
            }
            #macro-pc1 {
                background-image: url(../images/Macrotemas/horizontal//h-financas.svg);
            }
            #macro-pc2 {
                background-image: url(../images/Macrotemas/horizontal/h-varejo.svg);
            }
            #macro-pc3 {
                background-image: url(../images/Macrotemas/horizontal/h-negocio.svg);
            }
            #macro-pc4 {
                background-image: url(../images/Macrotemas/horizontal/h-direito.svg);
            }
            #macro-pc5 {
                background-image: url(../images/Macrotemas/horizontal/h-controladoria.svg);
            }
            #macro-pc6 {
                background-image: url(../images/Macrotemas/horizontal/h-ti.svg);
            }
            #macro-pc7 {
                background-image: url(../images/Macrotemas/horizontal/h-marketing.svg);
            }
            #macro-pc8 {
                background-image: url(../images/Macrotemas/horizontal/h-engenharia.svg);
            }
            #macro-pc9 {
                background-image: url(../images/Macrotemas/horizontal/h-concursos.svg);
            }
            #macro-pc10 {
                background-image: url(../images/Macrotemas/horizontal/h-arquitetura.svg);
            }
            #macro-pc11 {
                background-image: url(../images/Macrotemas/horizontal/h-saude.svg);
            }
            #macro-pc12 {
                background-image: url(../images/Macrotemas/horizontal/h-historia.svg);
            }
            #macro-pc13 {
                background-image: url(../images/Macrotemas/horizontal/h-ensino.svg);
            }
            #macro-pc14 {
                background-image: url(../images/Macrotemas/horizontal/h-video.svg);
            }
            #macro-pc15 {
                background-image: url(../images/Macrotemas/horizontal/h-gastronomia.svg);
            }
            #macro-pc16 {
                background-image: url(../images/Macrotemas/horizontal/h-hobbies.svg);
            }
        }
    }
    
    //////////////////////////////////////////////////////////////////////////////////// ADVANTAGES
    .advantages {
        padding: 15px;
        .spacer {
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
            padding: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            min-height: 200px;
            .hex-adv {
                text-align: center;
            }
        }
        p {
            margin: 0;
        }
    }
    
    //////////////////////////////////////////////////////////////////////////////////// HIGHLIGHTED COURSES
    .highlighted-courses {
        height: 950px;
        .columns {
            
            .course-row1 {
                p {
                    padding: 0;
                    margin: 0;
                }
                padding: 0;
                .slider {
                    a {
                        margin: 0 6px;
                        width: 272px !important;
                        .course-card {
                            height: 400px;
                            width: 272px;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            flex-direction: column;
                            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
                            .course-image {
                                width: 100%;
                                height: 250px;
                                background-image:url(http://via.placeholder.com/255x250);
                                background-size: cover;
                                background-position: center;
                                background-repeat: no-repeat;
                            }
                            .course-content {
                                width: 100%;
                                height: 150px;
                                padding: 10px;
                                background-color: #303030;
                                position: relative;
                                p{
                                    margin: 0;
                                    padding: 0;
                                    color: #fff;
                                }
                                .course-price {
                                    display: block;
                                    position: absolute;
                                    right: 0;
                                    bottom: 0;
                                    background-color: #5AA535;
                                    p {
                                        padding: 0;
                                        margin: 0;
                                        padding: 10px;
                                        display: block;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
    //////////////////////////////////////////////////////////////////////////////////// ABOUT
    .about {
        padding: 30px;
        video {
            width: 100%;
        }
        .spacer-2 {
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
        }
        .about-text {
            padding: 15px;
            color: #303030;
        }
    }
    
    //////////////////////////////////////////////////////////////////////////////////// FOOTER
    footer {
        width: 100%;
        background-color: #303030;
        min-height: 100px;
        margin-top: 15px;
    }
    
    //////////////////////////////////////////////////////////////////////////////////// MEDIA QUERY MIN 600PX
    @media (min-width: 600px) {
        .macrotema-col-1,
        .macrotema-col-2,
        .macrotema-col-3 {
            width: 120px !important;
        }
        .macrotema-col-2 {
            margin: 0 -20px;
        }
        #macro-title {
            font-size: 12px;
        }
        .macro-indv {
            padding: 10px;
            
        }
        //////////////////////////////////////////////////////////////////////////////// ADVANTAGES MIN 600PX
        .advantages {
            .card-advantage1 {
                margin-right: 5px;
                flex-direction: column;
                text-align: center;
                min-height: 300px;
            }
            .card-advantage2 {
                flex-direction: column;
                text-align: center;
                margin: 0 5px;
                min-height: 300px;
            }
            .card-advantage3 {
                margin-left: 5px;
                flex-direction: column;
                text-align: center;
                min-height: 300px;
            }
        }
    }
    
    //////////////////////////////////////////////////////////////////////////////////// MEDIA QUERY MIN 600PX
    @media (max-width: 480px) {
        .macrotema-col-1,
        .macrotema-col-2,
        .macrotema-col-3 {
            width: 85px !important;
        }
        .macro-indv
        a {
            height: 85px !important;
        }
        //////////////////////////////////////////////////////////////////////////////// ADVANTAGES MIN 600PX
    }